<section class="services" id="services">
    <h2>Our Services</h2>
    <p>Explore our wide range of camping gear services.</p>
    <ul class="cards">
      <li class="card">
        <img src="assets/images/tents.jpg" alt="img">
        <h3>Tents</h3>
        <p>Experience comfort and protection with our high-quality camping tents.</p>
      </li>
      <li class="card">
        <img src="assets/images/bags.jpg" alt="img">
        <h3>Sleeping Bags</h3>
        <p>Stay cozy and warm during your camping trips with our premium sleeping bags.</p>
      </li>
      <li class="card">
        <img src="assets/images/stoves.jpg" alt="img">
        <h3>Camp Stoves</h3>
        <p>Cook delicious meals in the great outdoors with our reliable camp stoves.</p>
      </li>
      <li class="card">
        <img src="assets/images/backpacks.jpg" alt="img">
        <h3>Backpacks</h3>
        <p>Carry your essentials comfortably with our durable and functional camping backpacks.</p>
      </li>
      <li class="card">
        <img src="assets/images/chair.jpg" alt="img">
        <h3>Camp Chairs</h3>
        <p>Relax and unwind in style with our comfortable and portable camping chairs.</p>
      </li>
      <li class="card">
        <img src="assets/images/light.jpg" alt="img">
        <h3>Camp Lights</h3>
        <p>Illuminate your campsite with our reliable and energy-efficient camping lights.</p>
      </li>
    </ul>
  </section>
