<app-navbar></app-navbar>

<div class="col d-flex justify-content-center align-items-center flex-column">
    <h2>List Employee</h2>
    <hr/>
    <div class="card card-body bg-light text-dark p-4" style="max-width: 600px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let EmployeeItem of EmployeeArray" style="animation: fadeIn 1s ease-in-out;">
                    <th scope="row">{{EmployeeItem.employeeid}}</th>
                    <td>{{EmployeeItem.employeename | uppercase}}</td>
                    <td>{{EmployeeItem.employeemail}}</td>
                    <td>{{EmployeeItem.mobile}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

   
</style>



<!-- <div class="col d-flex justify-content-center align-items-center flex-column">
    <h2>List Employee</h2>
    <hr/>
    <div class="card card-body bg-light">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let EmployeeItem of EmployeeArray">
        <th scope="row">{{EmployeeItem.employeeid  }}</th>
        <td>{{EmployeeItem.employeename  | uppercase}}</td>
        <td>{{EmployeeItem.employeemail }}</td>
        <td>{{EmployeeItem.mobile }}</td>
                   
                </tr>
                
            </tbody>
        </table>
    </div>
</div> -->
<!-- Add this button in your template -->
<button (click)="generatePDF()">Generate PDF</button>

<app-footer></app-footer>
